@import './partials/rest.css';
@import './partials/customAntd.css';
@import './partials/layout.css';
@import './partials/core.css';

@import './partials/auth.css';
@import './partials/navigation.css';
@import './partials/header.css';
@import './partials/sidePanel.css';
@import './partials/collapseBox.css';
@import './partials/erp.css';

/* Modern Flat Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}
